* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    height: 50vh;
    width: 100%;
    flex-direction: column;
    background-color: aquamarine;
    align-items: center;
    justify-content: center;
}

h1 {
    size: 24px;
}

h2 {
    size: 16px;
    font-style: oblique;
}

h1, h2 {
    padding-bottom: 16px;
}